<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.edu.myfinalproyect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFinalProyect">
        <activity android:name=".AjustesActivity"></activity>
        <activity android:name=".CiudadDestinoMainActivity"/>
        <activity android:name=".CiudadOrigenMainActivity"/>
        <activity android:name=".CargaPeligrosaMainActivity"

            android:parentActivityName=".TipoDeCargaActivity">

        </activity>
        <activity android:name=".CargaFragilMainActivity"

            android:parentActivityName=".TipoDeCargaActivity">

        </activity>
        <activity android:name=".CargaPerecederaMainActivity"

            android:parentActivityName=".TipoDeCargaActivity">

        </activity>
        <activity android:name=".CargaGranelMainActivity"

            android:parentActivityName=".TipoDeCargaActivity">

        </activity>
        <activity android:name=".CargaGeneralMainActivity"

            android:parentActivityName=".TipoDeCargaActivity">

        </activity>
        <activity android:name=".TipoDeCargaActivity"

            android:parentActivityName=".DuenoDeCargaMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TipoDeCargaActivity"/>

        </activity>
        <activity android:name=".reportarUbicacionActivity" />
        <activity android:name=".DuenoDeCargaMainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DuenoDeCargaMainActivity"/>
        </activity>

        <activity android:name=".PropietarioCamionActivity"/>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity"/>
        </activity>
    </application>

</manifest>