<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.edu.myfinalproyect">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFinalProyect">
        <activity android:name=".DatoSolicitudCarga"></activity>
        <activity android:name=".UbicacionActivity" />
        <activity android:name=".NUEVOEMAIL" />
        <activity android:name=".EmailActivity" />
        <activity android:name=".MapsActivity" />
        <activity
            android:name=".AjustesActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".CiudadDestinoMainActivity" />
        <activity android:name=".CiudadOrigenMainActivity" />
        <activity android:name=".CargaPeligrosaMainActivity" />
        <activity android:name=".CargaFragilMainActivity" />
        <activity android:name=".CargaPerecederaMainActivity" />
        <activity android:name=".CargaGranelMainActivity" />
        <activity android:name=".CargaGeneralMainActivity" />
        <activity android:name=".TipoDeCargaActivity" />
        <activity android:name=".reportarUbicacionActivity" />
        <activity android:name=".DuenoDeCargaMainActivity" />
        <activity android:name=".PropietarioCamionActivity" />
        <activity android:name=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>